@charset "UTF-8";

/* 回答はここに書いてね */
table {
  width: 100%;
  table-layout: fixed;
}

tr:nth-child(odd) td {
  background-color: #ecf1f2;
}

tr:last-child {
  border-top: 2px dashed #000;
}

th {
  padding: 10px 0 10px 0;
  font-size: 18px;
  line-height: 26px;
  border: 1px solid #dedede;
  color: white;
  background-color: #2244aa;
}

td {
  padding: 10px 0 10px 0;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  border: 1px solid #dedede;
}

/* 回答はここに書いてね */
